<div class="DemographicInformationBlock">
    <div class="row bodyHeader" style="width:1112px;">
        Demographic Information
    </div>
    <div class="row bodyContent" style="width:1112px; height:610px;">
        <div class="col-12 firstPagePart1" style="margin-left:387.5px">
            <ul style="list-style: none;">
    <table>
         <tr><td>Student ID</td><td>A5555555Z</td></tr>
         <tr><td>Official Name</td><td>Alex</td></tr>
         <tr><td>Date of Birth</td><td>1/12/1995</td></tr>
         <tr><td>Gender</td><td>Male</td></tr>
         <tr><td>Marital Status</td><td>Single</td></tr>
        </table>
            </ul>
        </div>
        
        <div class="col-12firstPagepart2">
            <ul style="list-style: none; margin-left:15px; margin-top:19.5px">
        <table>
         <li><b>Residency Status and Identification Type/Number</b></li>
         <tr><th>Country</th><th>National ID Type</th><th>National ID</th></tr>
         <tr><td>Singapore</td><td>NRIC</td><td>S0000000Z</td></tr>
        </table>
            </ul>
        </div>
        
        <div class="col-12firstPagepart3">
            <ul style="list-style: none; margin-left:-505px; margin-top:149px">
        <table>
         <li><b>Citizenship Information</b></li>
         <tr><th>Description</th><th>Country</th><th>Birth Country</th></tr>
         <tr><td>Citizen<td>Singapore</td><td>Singapore</td></tr>
        </table>
            </ul>
        </div>

                <div class="col-12 firstPagePart4">
                <ul style="list-style: none; margin-top:20px;">
        <table>
         <li><b>Names</b></li>
         <tr><th>Official Name</th><th>Name</th><th>Type</th></tr>
         <tr><td>Alex</td><td>Mr Alex</td><td>Primary</td></tr>
         <tr><td></td><td>Mr Alex</td><td>Preferred</td></tr>
        </table>
                </ul>
        </div>

        
        </div>
        </div>  
<br></br>    
<div class="ContactDetails&EmergencyContactsBlock">
        <div class="row bodyHeader" style="width:1112px;">
                Contact Details & Emergency Contacts
        </div>
        <div class="row bodyContent" style="width:1112px; height:540px">
           <div class="col-12 secondPagePart1">
                <ul style="list-style: none;">
                     <table>
                         <li><b>Email</b></li>
         <tr><th>Email</th><th>Type</th><th>Preferred</th></tr>
         <tr><td>A5555555Z@U.NUS.EDU</td><th>NUS</th><th>Yes</th></tr>
         <tr><td>alex@yahoo.com.sg</td><th>Personal</th><th>No</th></tr>
        </table>
                        </ul></div>
                                        <div class="col-12 secondPagePart2">
                <ul style="list-style: none; margin-top:20px">
    
        <li><b>Social Media Links</b></li>
        <li>No Social Media Accounts are defined.</li>
        <div class="col-12 text-center" style="margin-top:0px;">
            <button class="btn btn-info center" onclick="hideFirst();" style="width:160px; margin-left:0px;">Add Social Account</button>
        </div>
        
                   
                       </ul></div>
            
            
                                        <div class="col-12 secondPagePart3">
                <ul style="list-style: none; margin-top:-15px">
    <table>
        <li><b>Phone</b></li>
        <tr><th>Phone</th><th>Type</th><th>Preferred</th></tr>
        <tr><td>+65 83216370</td><td>Mobile (Singapore)</td><td>Yes</td></tr>
        <tr><td>+65 68765432</td><td>Home</td><td>No</td></tr>
                    </table>
                       </ul></div>
                        
                            <div class="col-12 secondPagePart4">
                <ul style="list-style: none; margin-top:20px">
    <table>
        <li><b>Emergency Contacts</b></li>
        <tr><th>Contact</th><th>Phone</th><th>Primary</th></tr>
        <tr><td>Parent</td><td>83216370</td><td>Yes</td></tr>
        </table>
                       </ul></div>
                 
</div>

<br></br>
<div class="ResidenceAddressesBlock">
        <div class="row bodyHeader" style="width:1112px;">
                Residence Addresses
        </div>
        <div class="row bodyContent" style="width:1112px; height:574px">
                   <div class="col-12 thirdPagePart1">
                <ul style="list-style: none;">
                    <li><b>Mailing Address</b></li>
        <table>
         <tr><th>Address</th><th>From</th></tr>
         <tr><td>Singapore</td><td>Current</td></tr>
        <tr><td>123456</td><td></td></tr>
         <tr><td>BLOCK 123 ABC STREET 32 #10-101</td><td></td></tr>
        </table>          
                       </ul>
            </div>
                           <div class="col-12 thirdPagePart2">
                <ul style="list-style: none; margin-top:20px";>
                    <li><b>Home Address</b></li>
        <table>
         <tr><th>Address</th><th>From</th></tr>
         <tr><td>Singapore</td><td>Current</td></tr>
        <tr><td>123456</td><td></td></tr>
         <tr><td>BLOCK 123 ABC STREET 32 #10-101</td><td></td></tr>
        </table>     
                               </ul>          
</div>
                       <div class="col-12 thirdPagePart3">
                <ul style="list-style: none; margin-top:20px";>
                    <li><b>Payment Address</b></li>
        <table>
         <tr><th>Address</th><th>From</th></tr>
         <tr><td>Singapore</td><td>Current</td></tr>
        <tr><td>123456</td><td></td></tr>
         <tr><td>BLOCK 123 ABC STREET 32 #10-101</td><td></td></tr>
        </table>     
                               </ul>          
</div>
    </div>
</div   >
<br></br>
<script>
    $('.confirmationPage').hide();
    $('.secondPage').hide();
    $('.content').hide();

    function hideFirst(){
        $('.firstPage').hide();
                $('.gradinfo').hide();
        $('.secondPage').show();
    }
    function hideSecond(){
        $('.secondPage').hide();
        $('.confirmationPage').show();
    }

</script>