<div class="infoBlock">
    <div class="row bodyHeader" style="width:1112px;">
        Student Bill
    </div>
    <div class="row bodyContent" style="width:1112px; height:177px">
        <div class="col-12 firstPage">
                <ul style="list-style: none;">
                    <li>Click 'View' to view your latest billing.</li>
                    <li>For all payments made by student or third party, please indicate the student’s ID and name or NUS’ invoice number clearly in the payment advice or on the reverse of the cheque/draft.</li>
                </ul>
            <div class="col-12 text-center">
                <a class="btn btn-info center" href="/assets/img/studentbill.png" target="_blank" style="color:white; text-decoration:none;">View</a>
            </div>
        </div>
        <div class="col-12 content" style="padding-left:0;">
        </div>
    </div>
<div class="infoBlock">
<div class="row bodyHeader" style="width:1112px;">
        Make Payment
    </div>
        <div class="row bodyContent" style="width:1112px; height:555px" >
           <div class="col-12 firstPage">
               <div>You owe <b>$12.34</b></div>
            <div class="icon-container" style="padding: 7px 0;font-size: 24px;">
                Accepted Payments:
              <i class="fa fa-cc-visa" style="color:navy;"></i>
              <i class="fa fa-cc-paypal" style="color:blue;"></i>
              <i class="fa fa-cc-mastercard" style="color:red;"></i>
              <i class="fa fa-credit-card-alt" style="color:orange;"></i>
            </div>
               <table style="margin-top: 10px">
                   <tr>
            <td><label for="cname">Name on Card</label></td>
            <td><input type="text" id="cname" name="cardname" placeholder=""></td>
                       </tr>
                        <tr>
            <td><label for="ccnum">Credit card number</label></td>
            <td><input type="text" id="ccnum" name="cardnumber" placeholder=""></td>
                   </tr>
                   <tr>
            <td><label for="expmonth">Exp Month</label></td>
            <td><input type="text" id="expmonth" name="expmonth" placeholder=""></td>
                   </tr>
                   
              <tr>
                <td><label for="expyear">Exp Year</label></td>
                <td><input type="text" id="expyear" name="expyear" placeholder=""></td>
                   </tr>
              <tr>
                <td><label for="cvv">CVV</label></td>
                <td><input type="text" id="cvv" name="cvv" placeholder=""></td>
                   </tr>
                </table>
        <input type="submit" value="Make payment" class="btn" style="background-color: #3db9fb;color: white;padding: 12px; margin-top: 1px; border: none; width: 100%; border-radius: 3px; cursor: pointer; font-size: 17px;">
                    </div>
    </div>
    </div>

<style>

input[type=text] {
  width: 250px;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
}

</style>
<script>
    $('.content').hide();
    function hideFirst(){
        $('.firstPage').hide();
        $('.content').show();
    }

</script>