<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CS3240 webpage</title>
    <link rel="shortcut icon" href="/pic/robot.png" />

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/3-col-portfolio.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/blog-home.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/2.9.3/intro.js"></script>
    <!-- TODO: highlight the correct selection -->
    <script src="/intro.js-master/minified/intro.min.js"></script>
    <link href="/intro.js-master/minified/introjs.min.css" rel="stylesheet">
</head>

<body>


<!-- Page Content -->
<div class="container">
    {{{body}}}

</div>
<!-- /.container -->

<!-- Bootstrap core JavaScript -->

</body>

</html>