<div>
    <div class="row bodyHeader" >
        Apply for Graduation
    </div>
    <div class="row bodyContent" >
        Your graduation details are as follows. Please carefully ensure that, you have applied for graduation, if the current semester is your last semester.<br/>
        <ul style="list-style:none;">
        <li><b>Degree:</b> Bachelor of Engineering (CEG)</li>
        <li><b>Honors:</b> Computer Engineering(Hons)-CEG</li>
        <li><b>Expected graduation term:</b> 2018/2019 Semester</li>
        <li><b>Grduation Status:</b> Applied</li>
    <li><button><a href="#">Withdraw application</a></button></li>
        </ul>
    </div>
</div>