<div>
Your graduation details are as follows. Please carefully ensure that, you have applied for <br/>graduation, if the current semester is your last semester.<br/><br/>Degree: Bachelor of Engineering (CEG)<br/>
                                                      Honors: Computer Engineering(Hons)-CEG<br/><br/>Expected graduation term: 2018/2019 Semester<br/>Grduation Status: Applied<br/><br/><br/><br/><br/>
    <button><a href="#">Withdraw application</a></button>
</div>