<div class="BillingAddressBlock">
    <div class="row bodyHeader" style="width:1112px;">
        Billing Address
    </div>
    <div class="row bodyContent" style="width:1112px; height:188px;">

                       <div class="col-12 firstPagePart1">
                <ul style="list-style: none; margin-top:0px";>
                    <li><b>Payment Address</b></li>
        <table>
         <tr><th>Address</th><th>From</th></tr>
         <tr><td>Singapore</td><td>Current</td></tr>
        <tr><td>123456</td><td></td></tr>
         <tr><td>BLOCK 123 ABC STREET 32 #10-101</td><td></td></tr>
        </table>     
                               </ul>          
</div>


        </div>
</div> 