<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:20%; margin-top:10px; width:60%;background-color:orange;">
        Career Scenario
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:60%;">
        <div style="text-align:center;">
        The following details below, are the institution, the program, and the requirement term,<br/> for the current course of study in NUS.     <br/><br>
                                                      Institution: NUS <br/><br/>Program: Bachelor of Engineering (CEG)<br/><br/>Requirement Term: 2014/2015 Semester 1<br/><br/><br/><br/><br/>
            
    <button><a href="#">Submit Request</a></button><br/> <br/>
</div>
    </div>
</div>

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:20%; margin-top:10px; width:60%;background-color:orange;">
            Program Scenario
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:60%;">
         The following details below, are the degree, and the honors for your current course of<br/> study in NUS.<br/><br/>                       
                        Degree: BEng (Computer Engrg)-CEG<br/><br/>
                        Honors: Computer Engineering(Hons)-CEG<br/><br/>
    </div>
</div>

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:20%; margin-top:10px; width:60%;background-color:orange;">
            Course Scenario
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:60%;">
          Select the "Browse Course Catalog" button and then select courses for inclusion in your <br/>course what-if scenario.<br/><br/><br/><br/><br/> 
        <button><a href="#">Browse Course Catalog</a></button><br/> <br/>
    </div>
</div>

        <button><a href="#">Generate What-If Report</a></button><br/> <br/>
