<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:20%; width:50%;background-color:orange;">
        Examschedule + timetable
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">
            <table style="width:100%" class="table table-striped">
                <tr>
                    <th>Module</th>
                    <th>Exam Date</th>
                    <th>Exam Venue</th>
                    <th>Exam Seat</th>
                    <th>Description</th>
                </tr>
                <tr>
                    <td>CS3240</td>
                    <td>12/05/2019</td>
                    <td>MPSH-1A</td>
                    <td>35</td>
                    <td>Interaction Design</td>
                </tr>
                <tr>
                    <td>CS2102</td>
                    <td>13/05/2019</td>
                    <td>MPSH-1B</td>
                    <td>123</td>
                    <td>Database systems</td>
                </tr>
                <tr>
                    <td>CS2107</td>
                    <td>14/05/2019</td>
                    <td>MPSH-2</td>
                    <td>34</td>
                    <td>Introduction to Information Security</td>
                </tr>
                <tr>
                    <td>ST2334 </td>
                    <td>14/05/2019</td>
                    <td>MPSH-4</td>
                    <td>191</td>
                    <td>Probability and Statistics</td>
                </tr>
                <tr>
                    <td>GEH1027</td>
                    <td>14/05/2019</td>
                    <td>MPSH-4</td>
                    <td>191</td>
                    <td>Einstein's Universe & Quantum Weirdness</td>
                </tr>
                <tr>
                    <td>CG2028</td>
                    <td>14/05/2019</td>
                    <td>MPSH-4</td>
                    <td>191</td>
                    <td>Computer Organization</td>
                </tr>
                <tr>
                    <td>CG2023</td>
                    <td>14/05/2019</td>
                    <td>MPSH-4</td>
                    <td>191</td>
                    <td>Signals and Systems</td>
                </tr>
            </table>
        </a>

    </div>


</div>