<div class="FinancialAidBlock">
    <div class="row bodyHeader" style="width:1112px;">
        View Financial Aid Disbursed
    </div>
    <div class="row bodyContent" style="width:1112px; height:310px;">

                       <div class="col-12 firstPagePart1">
                <ul style="list-style: none; margin-top:0px; margin-left:-40.5px">

        <table>
         <tr><th>FA Code</th><th>FA Type</th><th>Item Type</th><th>Term</th><th>Posted Date</th><th>Amount</th></tr>
         <tr><td>1. Post Secondary Education Acct-TF&MMF</td><td>Post-Sec Education Acct Scheme</td><td>PSEA</td><td>2014/2015 Semester 1</td><td>13/09/2014</td><td>3862.88</td></tr>
         <tr><td>2. Post Secondary Education Acct-TF&MMF</td><td>Post-Sec Education Acct Scheme</td><td>PSEA</td><td>2014/2015 Semester 2</td><td>09/02/2015</td><td>1408.56</td></tr>
         <tr><td>3. Post Secondary Education Acct-TF&MMF</td><td>Post-Sec Education Acct Scheme</td><td>PSEA</td><td>2015/2016 Semester 1</td><td>22/09/2015</td><td>2.93</td></tr>
        </table>     
        <li>Currency used is Singapore Dollar.
                               </ul>          
</div>


        </div>
</div> 