<div class="infoBlock">
    <div class="row bodyHeader" >
        Apply for Graduation
    </div>
    <div class="row bodyContent" >
        <div class="col-12 firstPage">
                You are advised to check your eligibility to graduate using My Graduation                                  Audit report <br/>
                                                      and/or My What-if report before applying for graduation. Click on the "Apply" button  <br/>to proceed with your application. If you are unable to view/access the link, you may not <br/>be eligible to apply. If you have questions or find any of the information inaccurate or<br/> incomplete, please contact your program/subject advisor at the Faculty/School.<br/><br/>You have not met minimum 160.00 MCs required to Apply for Graduation.<br/><br/><br/><br/><br/>
            <div class="col-12 text-center">
                <button class="btn btn-info center" onclick="hideFirst();">Apply</button>
            </div>
        </div>
        <div class="col-12 content">
        <table class="table table-hover suTable">
            <thead>
            <tr width="99%">
                <th scope="col" >#</th>
                <th scope="col">Course</th>
                <th scope="col">Grade received</th>
                <th scope="col">checkbox</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>CS1010</td>
                <td>A-</td>
                <td><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>CG1111</td>
                <td>B</td>
                <td><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>CS1231</td>
                <td>B-</td>
                <td><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>MA1511</td>
                <td>B+</td>
                <td><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"></td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>MA1512</td>
                <td>A+</td>
                <td><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"></td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>GER1000</td>
                <td>C</td>
                <td><input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"></td>
            </tr>
            </tbody>

        </table>
            <div class="col-12 text-center">
                <button class="btn btn-info center" onclick="hideSecond();">Submit</button>
            </div>
        </div>
        <div class="text-center confirmationPage">
            <h1>Congratulation</h1>
            <p>You have successfully complete you s/u exercises.</p>
            <p>The confirmation mail will be sent to your NUS mail account.</p>
            <p>You can still change your s/u declaration before <b>3/6/2019</b></p>
        </div>
    </div>
</div>
<script>
    $('.content').hide();
    $('.confirmationPage').hide();
    function hideFirst(){
        $('.firstPage').hide();
        $('.content').show();
    }
    function hideSecond(){
        $('.content').hide();
        $('.confirmationPage').show();
        $('.bodyHeader').hide();
    }

</script>

<!--
<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:20%; margin-top:10px; width:60%;background-color:orange;">
            What-if Report
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width:60%;">
         ‘My What-If Report’ allows you to simulate various what-if scenarios with different set of<br/> academic program, major, second major or minor that you may be planning to take. It<br/> looks at the current set of academic program(s),              plans you are taking and <br/>added/changed what-if program/plans, and it generates an overview of your degree<br/>  progress based on the modules that you have passed, currently reading and/or added <br/>what-if modules. 
<br/><br/>
On the other hand, ‘My Graduation Audit Report’ allows you to track your study<br/> progress and the graduation requirements that need to be fulfilled. It provides an <br/>overview of your eligibility to graduate based on the academic plans declared, and <br/>modules that you have passed and is available to all students pursuing a single or <br/>concurrent undergraduate degree. 
<br/><br/>
Click the Create New Report button to set up your what-if scenario.<br/><br/><br/><br/><br/>
        <button><a href="#">Create New Report</a></button><br/> <br/>
    </div>
</div> -->