<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle btn-block" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-left:20%; width:50%;background-color:orange;">
        graduation
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#"><div class="row">Please refer to the instructions sent by the Yale-NUS Registry) <br />
            The Satisfactory/Unsatisfactory (S/U) Option Declaration exercise for Semester 1,  <br />AY2018/19 will be held upon results release from 26 December 2018 to 28 December 2018,<br /> 6pm. Please check your email dated 11 Dec 2018 for further information.</div></a>
    </div>
</div>