<div class="ManageBankAccountBlock">
    <div class="row bodyHeader" style="width:1112px;">
        Manage Bank Account
    </div>
    <div class="row bodyContent" style="width:1112px; height:550px;">
                <div class="col-12firstPagepart1">
            <ul style="list-style: none; margin-left:15px; margin-top:0px">
                <b><u>Bank Account Details</u></b>
            </ul>
        </div>
        <div class="col-12firstPagepart2">
            <ul style="list-style: none; margin-left:15px; margin-top:0px">
                <b>Debit Bank Account Details</b>
                <li>The Debit Bank Account shown below will be used to deduct your Tuition Fee, Mandatory Miscellaneous Fees, Administrative Fee (if applicable), Hostel Charges (if applicable), Transcript Fee (if applicable) and Sports &</li><li>Recreation Centre's Court Booking Fee (if applicable).</li>
        <table>
         <tr><th>Bank Name</th><th>Reference Number</th></tr>
         <tr><td>GHI Bank</td><td>S0000000Z</td></tr>
        </table>
            </ul>
        </div>
        
        <div class="col-12firstPagepart3">
            <ul style="list-style: none; margin-left:15px; margin-top:0px">
                <b>Credit Bank Account Details</b>
                <li>The Credit Bank Account shown below will be used to credit all amounts payable to you,e.g. refund of fees</li> 
                <li>(including those deducted through your GIRO (Debit) Account), refund of deposits, disbursement of financial aid</li> 
            <li>(including scholarships/bursaries/loans/other awards), reimbursement of expenses.</li>
        <table>
         <tr><th>Bank Name</th><th>Reference Number</th></tr>
         <tr><td>GHI Bank</td><td>S0000000Z</td></tr>
        </table>
            </ul>
        </div>

        <div class="col-12 text-center" style="margin-top:-22.5px;">
            <button class="btn btn-info center" onclick="hideFirst();" style="width:300px">Terminate the Credit Bank Account</button>
        </div>


        </div>
</div> 