<div class="infoBlock">
    <div class="row" id="intro">
        <div class="col-12">
            <h2><span class="badge badge-secondary" style="margin-left: -12px">Quick Links:</span></h2>
        </div>
    </div>
    <div class="row bodyHeader" >
Registration (Part One) 
    </div>
    <div class="row content" style="width:0px;">
        <div class="col-12" style="padding-left:0;">
        <iframe height="600" width="880" src="https://myregistration.nus.edu.sg/"></iframe>
        </div>
        </div>
    <div class="row bodyContent" >
        <div class="col-12 firstPage">
                <ul style="list-style: none;">
                    <li><b>Academic Program</b> : BComp</li>
                    <li><b>Admit Term</b>  : 2019/2020 Semester 1</li>
                    <li><b>Registration (Part One)</b></li>
                    <li>Start date: 28-JUN-2019</li>
                    <li>End date: 31-AUG-2019</li>
                </ul>
            <div class="col-12 text-center">
                <button class="btn btn-info center" onclick="hideFirst();">Begin Registration</button>
            </div>
        </div>
        
    </div>
    
</div>
<script>
    $('.content').hide();
    function hideFirst(){
        $('.firstPage').hide();
        $('.bodyContent').hide();
        $('.bodyHeader').hide();
        $('#intro').hide();
        $('.content').show();
    }

</script>