<div>
    <div class="row bodyHeader" >
        <h1>S/U declaration</h1>
    </div>
    <div class="row bodyContent" >
        <ul>
            <li>S/U period is from <b>3 JUN 2019</b> to <b>6 JUN 2019</b></li>
            <li>The s/u point left: <b>20MCs</b></li>
            <li>In general, students may exercise the S/U option for up to 32 MCs in the first two regular semesters; if this is not fully utilised, the S/U option may still be exercised in subsequent semesters, for up to 12 MCs.</li>
        </ul>
    </div>
</div>