<div>
<table>
         <tr><th>Module</th><th>Description</th><th>Module Credit</th></tr>
         <tr><td>CS1234</td><td>ALGORITHMS</td><td>4</td></tr>
        </table>
    
    <br/> <br/>
    
    <button><a href="#">Print</a></button><br/> <br/>
        <button><a href="#">Home</a> </button>
</div>