<div>
<table>
         <tr><th>Module</th><th>Description</th><th>Grade</th><th><input type="checkbox"></th></tr>
         <tr><td>CS1234</td><td>ALGORITHMS</td><td>A+</td><td><input type="checkbox" value="cs1234"></td></tr>
        <tr><td>CS4567</td><td>ADVANCE ALGORITHMS</td><td>B-</td><td><input type="checkbox" value="cs4567"></td></tr>
         <tr><td>MA1555</td><td>MATHS</td><td>B+</td><td><input type="checkbox" value="ma1555"></td></tr>
        </table>
    
    <br/> <br/>
    
    <button><a href="#">Clear</a></button><br/> <br/>
        <button><a href="#">Submit Declaration</a> </button>
</div>