<div>

    Please check that the Degree Classification shown for your programme is correct. For internal Double Degree Programmes (i.e., both degrees from NUS), there should be two Degree Classifications. Should you notice any discrepancy, please inform your Faculty/School immediately.

<br/>
    
    
    Module Grades
<br/>
     <table>
         <tr><th>Module</th><th>Description</th><th>Credit Unit</th><th>Grade</th></tr>
         <tr><td>CS1234</td><td>ALGORITHMS</td><td>4</td><td>A+</td></tr>
        <tr><td>CS4567</td><td>ADVANCE ALGORITHMS</td><td>4</td><td>B-</td></tr>
         <tr><td>MA1555</td><td>MATHS</td><td>4</td><td>B+</td></tr>
        </table>
    <br/>
    Program - Bachelor of Computing
<br/>
    <table>
         <tr><th></th><th>From Enrollment</th><th>From Transfer Credit</th><th>Combined Term Total</th><th>Cumilative Total</th></tr>
         <tr><td>Graded MCs towards CAP</td><td>12</td><td></td><td>12</td><td>40</td></tr>
        <tr><td>Graded MCs not for CAP</td><td>0</td><td></td><td>0</td><td>4</td></tr>
         <tr><td>CAP</td><td></td><td></td><td></td><td>4.51</td></tr>
        <tr><td>Academic Status</td><td></td><td></td><td></td><td>Passed/Proceed</td></tr>
        </table>
</div>