<div class="infoBlock">
    <div class="row bodyHeader" style="width:1112px;">
        Verify Critical Data
    </div>
    <div class="row bodyContent" style="width:1112px; height:430px;">
        <div class="col-12 firstPagePart1">
            <ul style="list-style: none;">
            <li>Please complete the verification for the current term only.</li>
            <li>You are not required to complete the verification for previous terms even when the status displayed is “Not  </li>           <li>Completed” or ‘Not Applicable’.</li>
            <li>For students on year-long programmes, you will not see any modules enrolled for Semester 2 under the 'Academic </li>       <li>Data' page.</li>
            </ul>
        </div>
        <div class="col-12firstPagepart2">
            <ul style="list-style: none; margin-left:15px">
            <li><b>Current Semester:</b></li>
            
                    <li>2018/2019 Semester 2</li>
                    <li>National University of Singapore</li>
                    <li>Undergraduate</li>
                    <li>Completed</li>
            </ul>
        </div>
        <div class="col-12 text-center" style="margin-top:-20px;">
            <button class="btn btn-info center" style="width:80px" onclick="hide1();">Next</button>
        </div>
        </div>
</div>

<div class="PersonalDataBlock">
        <div class="row bodyHeader" style="width:1112px;">
                Personal Data 
        </div>
        <div class="row bodyContent" style="width:1112px; height:710px">
        <div class="col-12 secondPagePart1">
                <ul style="list-style: none;">
                    <li><b>Please ensure that your personal data shown are accurate. You should note the following:</b></li>
                    <li></li>
                    <li>Your Official Name will be printed on various official documents issued by the University, in particular, the degree scroll and academic transcript.</li>
                    <li>Your National ID and Date of Birth are often used for identification and/or verification purposes.</li>
    <li>Your Residency Status affects your tuition fees payable; and if you are in receipt of a scholarship, it may also affect</li> 
                    <li>the scholarship stipend awarded.</li>
                </ul>
        </div>
            <div class="col-12secondPagepart2">
            <ul style="list-style: none; margin-left:15px">
                                    <li><b>Demographic Information</b></li>
        <table>
         <tr><th>Category</th><th>Details</th></tr>    
         <tr><td>Official Name</td><td>Alex</td></tr>
         <tr><td>National ID</td><td>S0000000Z</td></tr>
         <tr><td>Residency Status</td><td>Singapore Citizen</td></tr>
         <tr><td>Date of Birth</td><td>1/12/1995</td></tr>
         <tr><td>Gender</td><td>Male</td></tr> 
        </table>            
                        </ul>
            </div>
            <div class="col-12secondPagepart3">
            <ul style="list-style: none; margin-left:15px">
                    <li><b>I confirm that the information as listed above is correct and no amendments are required.</b></li>
                </ul>
            </div>
        
            <div class="col-12 text-center" style="margin-top:-20px;">
                <button class="btn btn-info center" onclick="hideSecond();" style="margin-top=-100px; width:80px">Yes</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" style="margin-top=-100px; width:80px" onclick="hide2();">Next</button>
            </div>
         
            </div>
</div>
 
<div class="AddressesBlock">
        <div class="row bodyHeader" style="width:1112px;">
                Addresses
        </div>
        <div class="row bodyContent" style="width:1112px; height:745px">
            <div class="col-12 thirdPagePart1">
                    <ul style="list-style: none;">
                    <li>Please ensure that the address(es) provided below is/are current and accurate.</li>
            </ul>
            </div>
                   <div class="col-12 thirdPagePart2">
                <ul style="list-style: none;">
                    <li><b>Mailing Address</b></li>
        <table>
         <tr><th>Address</th><th>From</th></tr>
         <tr><td>Singapore</td><td>Current</td></tr>
        <tr><td>123456</td><td></td></tr>
         <tr><td>BLOCK 123 ABC STREET 32 #10-101</td><td></td></tr>
        </table>          
                       </ul>
            </div>
                           <div class="col-12 thirdPagePart3">
                <ul style="list-style: none;">
                    <li><b>Home Address</b></li>
        <table>
         <tr><th>Address</th><th>From</th></tr>
         <tr><td>Singapore</td><td>Current</td></tr>
        <tr><td>123456</td><td></td></tr>
         <tr><td>BLOCK 123 ABC STREET 32 #10-101</td><td></td></tr>
        </table>     
                               </ul>
            </div>
                   <div class="col-12 thirdPagePart4">
                <ul style="list-style: none;">
                    <li><b>I confirm that I have verified/updated the information as listed above</b></li>
                </ul>
            </div>
            <div class="col-12 text-center" style="margin-top:-20px;">
                <button class="btn btn-info center" onclick="hideSecond();" style="margin-top=-100px; width:80px">Yes</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" onclick="hideSecond();" style="margin-top=-100px; width:80px">Previous</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" style="margin-top=-100px; width:80px" onclick="hide3();">Next</button>
            </div>
            
        </div>
</div>


<div class="PhoneNumbersBlock">
        <div class="row bodyHeader" style="width:1112px;">
                Phone Numbers
        </div>
        <div class="row bodyContent" style="width:1112px; height:560px">
        <div class="col-12 fourthPagePart1">
                <ul style="list-style: none;">
                    <li>Please ensure that the phone number(s) provided below is/are current and accurate.</li>
            </ul></div>
           <div class="col-12 fourthPagePart1">
                <ul style="list-style: none;">
                     <table>
         <tr><th>Phone</th><th>Typed</th><th>Preferred</th></tr>
         <tr><td>+65 81234567</td><td>Mobile (Singapore)</td><td>Yes</td></tr>
         <tr><td>+65 68765432</td><td>Home</td><td>No</td></tr>
        </table>
                        </ul></div>
                           <div class="col-12 fourthPagePart1">
                <ul style="list-style: none;">
                    <li>To add new contact, kindly go to My Homepage > Personal Info > Contact Details</li>
              </ul></div>
                                   <div class="col-12 fourthPagePart1">
                <ul style="list-style: none;">  
                                    
                    <li><b>I confirm that I have verified/updated the information as listed above</b></li>
                  </ul></div>
            <div class="col-12 text-center" style="margin-top:-20px;">
                <button class="btn btn-info center" onclick="hideSecond();" style="margin-top=-100px; width:80px">Yes</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" onclick="hideSecond();" style="margin-top=-100px; width:80px">Previous</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" style="margin-top=-100px; width:80px" onclick="hide4();">Next</button>
            </div>
            
        </div>
</div>


<div class="EmergencyContactsBlock">
        <div class="row bodyHeader" style="width:1112px;">
                Emergency Contacts
        </div>
         <div class="row bodyContent" style="width:1112px; height:525px">
        <div class="col-12 fifthPagePart1">
                <ul style="list-style: none;">
                    <li>Please ensure that the contact details provided below are current and accurate.</li>
                 </ul></div>
                            <div class="col-12 fifthPagePart2">
                <ul style="list-style: none;">
    <table>
        <tr><th>Contact</th><th>Phone</th><th>Primary</th></tr>
         <tr><td>Parent</td><td>+65 83216370</td><td>Yes</td></tr>
        </table>
                       </ul></div>
                 <div class="col-12 fifthPagePart3">
                <ul style="list-style: none;">
                    <li>To add new contact, kindly go to My Homepage > Personal Info > Emergency Contacts</li>
                     </ul></div>
                     <div class="col-12 fifthPagePart4">
                <ul style="list-style: none;">
                    <li><b>I confirm that I have verified/updated the information as listed above</b></li>
                </ul>
                    </div>
            <div class="col-12 text-center" style="margin-top:-20px;">
                <button class="btn btn-info center" onclick="hideSecond()"; style="margin-top=-100px; width:80px">Yes</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" onclick="hideSecond()"; style="margin-top=-100px; width:80px">Previous</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" style="margin-top=-100px; width:80px" onclick="hide5();">Next</button>
            </div>
            
        </div>
</div>

<div class="AcademicDataBlock">
        <div class="row bodyHeader" style="width:1112px;">
                Academic Data
        </div>
        <div class="row bodyContent" style="width:1112px; height:630px">
        <div class="col-12 sixthPage">
                <ul style="list-style: none;">
                    <li><b>2018/2019 Semester 2 | Undergraduate | NUS</b></li>
            </ul>
            </div>
                <div class="col-12 sixthPagePart1">
                <ul style="list-style: none;">
    <table>
         <tr><th>Academic Program</th><th>Academic Plan</th><th>Academic Sub-Plan</th><th>Faculty</th></tr>
         <tr><td>Bachelor of Engineering</td><td>Computer Engineering(Hons)-CEG</td><td> </td><td>Multi Displinary Programme</td></tr>
        </table>
                    </ul>
                    </div>
                       <div class="col-12 sixthPagePart2">
                <ul style="list-style: none;">
    <table>
         <tr><th>Module</th><th>Description</th><th>MCs/Units</th><th>Grading Basis</th><th>Description</th></tr>
         <tr><td>CG4001</td><td>B. ENG. DISSERTATION</td><td>12.00</td><td>GRD</td><td>Enrolled</td></tr>
         <tr><td>CS3240</td><td>INTERACTION DESIGN</td><td>4.00</td><td>GRD</td><td>Enrolled</td></tr>
         <tr><td>CS4225</td><td>BIG DATA SYSTEMS FOR DATA SCIENCE</td><td>4.00</td><td>GRD</td><td>Enrolled</td></tr>
         <tr><td>EE4438</td><td>SOLAR CELLS AND MODULES</td><td>4.00</td><td>GRD</td><td>Enrolled</td></tr>
         <tr><td>MNO1001X</td><td>MANAGEMENT AND ORGANISATION</td><td>4.00</td><td>GRD</td><td>Enrolled</td></tr>
        </table>
                    </ul>
                    </div>
                    
                         <div class="col-12 sixthPagePart3">
                <ul style="list-style: none;">
                    <li><b>I confirm that the information as listed above is correct and no amendments are required.</b></li>
                </ul>
                    </div>
            <div class="col-12 text-center" style="margin-top:-20px;">
                <button class="btn btn-info center" onclick="hideSecond()"; style="margin-top=-100px; width:80px">Yes</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" onclick="hideSecond()"; style="margin-top=-100px; width:80px">Submit</button>
            </div>
            <div class="col-12 text-center" >
                <button class="btn btn-info center" onclick="hideSecond()"; style="margin-top=-100px; width:80px">Previous</button>
            </div>
            
        </div>
</div>

<script>
    $('.PersonalDataBlock').hide();
    $('.AddressesBlock').hide();
        $('.PhoneNumbersBlock').hide();
    $('.EmergencyContactsBlock').hide();
    $('.AcademicDataBlock').hide();

    $('.content').hide();

    function hide1(){
        $('.infoBlock').hide();
        $('.PersonalDataBlock').show();
    }
    function hide2(){
        $('.PersonalDataBlock').hide();
        $('.AddressesBlock').show();
    }
    function hide3(){
        $('.AddressesBlock').hide();
        $('.PhoneNumbersBlock').show();
    }
    function hide4(){
        $('.PhoneNumbersBlock').hide();
        $('.EmergencyContactsBlock').show();
    }
    function hide5(){
        $('.EmergencyContactsBlock').hide();
        $('.AcademicDataBlock').show();
    }

</script>