<div class="infoBlock">
    <div class="row" id="intro">
        <div class="col-12">
            <h2><span class="badge badge-secondary" style="margin-left: -12px">Quick Links:</span></h2>
        </div>
    </div>
    <div class="row bodyHeader" >
Unofficial Transcript
    </div>
    <div class="row bodyContent" style="height:115px" >
        <div class="col-12 firstPage">
                <ul style="list-style: none;">
                    <li>Click 'View' to view your latest unofficial transcript.</li>
                </ul>
            <div class="col-12 text-center">
                <a class="btn btn-info center" href="/assets/img/unofficalTranscipt.jpg" target="_blank" style="color:white; text-decoration:none;">View</a>
            </div>
        </div>
        
    </div>
    
</div>

<div class="infoBlock">
    <div class="row bodyHeader" >
Exchange Program
    </div>
    <div class="row bodyContent" style="height:180px">
        <div class="col-12 firstPage">
                <ul style="list-style: none;">
                    <li>Application ends on <b>May 2019</b>.</li>
                    <li>You may want to check the Module Mapping before applying.</li>
                </ul>
            <div class="col-12 text-center">
                <a class="btn btn-info center" href="moduleMapping" style="color:white; text-decoration:none;">Module Mapping</a>
            </div>
        </div>
        
    </div>
    
</div>