<div class="fixed-bottom">
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <button class="open-button button-effect" id="chatBotButton"><i class="iconify" data-icon="simple-line-icons:bubbles" data-inline="false"></i>  Chat with me</button>


            <div class="chat-popup" id="myForm">
                <button type="button" class="btn btn-secondary" id='chatbotMinButton' style="float: right;">-</button>
                <form action="#" class="form-container">

                    <div class="chatbot">
                        <div class="chat-messages">
                            <div class="chat" id='chat'>
                                <div class="chat-content clearfix" id="chat-content">
					                <span class="friend last">
					                  Hi, How are you?
					                  <span class="time">
					                    7:30 PM
					                  </span>
					                </span>
                                    <span class="you first">
					                  Hi, I am fine.
					                  How about you?
					                  <span class="time">
					                    7:31 PM
					                  </span>
					                </span>
                                </div>
                            </div>
                            <div class="msg-box">
                                <input type="text" class="ip-msg" id='chatbotTextBox' placeholder="type something.." />
                                <span class="btn-group">
					                  <button class="send-button button-effect" id="chatBotEnterButton">Send</button>
					                  <i class="fa fa-paperclip"></i>
					                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
    <div>
    </div>
</div>