<div class="header">
    <a href="index.html">
        <img id="nuslogo" src="/assets/img/nuslogo.png" alt="NUS Logo" height="100%" width="200">

        <span class="iconify" id="help" data-icon="simple-line-icons:question" data-inline="false"></span>
        <span class="iconify" id="logout" data-icon="simple-line-icons:logout"></span>
    </a>
</div>