<div class="header" style="background-color:#275C88 " >
    <a href="#">
        <img id="nuslogo" src="/assets/img/nuslogo.png" alt="NUS Logo" height="100%" width="200">
</a>
        <span class="iconify" id="help" data-icon="simple-line-icons:question" data-inline="false"></span>
        <span class="iconify" id="logout" data-icon="simple-line-icons:logout"></span>
    
</div>